@import './global/reset';
@import './global/variables';

@font-face {
  font-family: "fontello";
  src: url("/assets/fonts/fontello/fontello.ttf") format("ttf"),
    url("/assets/fonts/fontello/fontello.woff") format("woff"),
    url("/assets/fonts/fontello/fontello.woff2") format("woff2"),
    url("/assets/fonts/fontello/fontello.eot") format("eot"),
    url("/assets/fonts/fontello/fontello.svg") format("svg");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-size: 16px;
  color: $darkGrey;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  // padding: 100px 20px 20px;
  padding: 30px 20px 20px;
}
