@import './../global/variables';

/** CARD COMPONENT */
.Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 430px;
  border-radius: 10px;
  width: 40%;
  min-height: 400px;
  background-color: $white;

  &-banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: 160px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $lightGrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top: calc(-124px/2);
    padding: 0 20px 40px;
    
    .row span {
      display: inline-block;
      font-weight: 600;
      color: $lightGrey;
      margin-bottom: 5px;
    }

    .row:not(:last-child) {
      margin-bottom: 20px;
    }

    a {
      display: block;
      color: $blue;
    }

    input {
      background-color: #F2F2F2;
      border-radius: 8px;
      height: 40px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &-picture {
    margin: 0 auto;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background-image: url('/assets/images/hetic_logo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  h4 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
  }
}


/** PROFILE COMPONENT */
.Profile {
  &-back {
    color: $white;
    font-size: 12px;
    font-weight: 600;
    margin: -20px 0 25px;
    padding-left: 20px;
    cursor: pointer;
    &:hover {
      p:after {
        right: calc(100% + 10px);
      }
    }
    p {
      display: inline;
      position: relative;
      &:after {
        content: 'â†';
        font-size: 16px;
        line-height: 0;
        position: absolute;
        top: 54%;
        right: calc(100% + 5px);
        transition: ease .2s all;
      }
    }
  }
  &-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  
  &-skills {
    width: 60%;
    padding: 0 30px;
    
    h2 {
      clear: both;
    }
  }
  .EditContainer {
    float: right;
    margin-bottom: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $white;
    font-size: 15px;
    font-weight: 600;

    &>* {
      opacity: 0.8;
      transition: ease .2s all;
      cursor: pointer;

      &:hover {
        opacity: 1;
        &:after {
          animation: bounce .2s linear forwards;
        }
      }

      &:after {
        font-family: 'fontello';
        display: inline-block;
        margin-left: 10px;
        transform: translateY(2px);
      }

      @keyframes bounce {

        0% {
          -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
          transform: translateY(2px)
        }

        50% {
          -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          transform: translateY(-2px)
        }

        100% {
          -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
          transform: translateY(2px)
        }
      }
    }

    .Edit:after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('/assets/images/edit.png');
      background-size: contain;
      background-repeat: no-repeat;
      
    }

    .Cancel {
      margin-right: 24px;

      &:after {
        content: '\E805';
        font-size: 20px;
      }
    }

    .Submit:after {
      content: '\E804';
      font-size: 20px;
    }
  }
  
  &-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

